<a href="https://colab.research.google.com/github/filnel/Projekts-/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled2_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd
import numpy as np
data = []
with open('session.1996-Q3', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs1 = pd.DataFrame(data)

print(rs1.head())

# Заменим пустые значения на NaN
rs1.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs1.to_excel('session_cleaned_1996_Q3.xlsx', index=False)
from google.colab import files
files.download('/content/session_cleaned_1996_Q3.xlsx')

                      0                         1  2     3     4     5     6   \
0  07/Sep/1996:12:17:05      www-c09.proxy.gnn.com  0  560L  110L   110  None
1  07/Sep/1996:12:21:57            foley.ripco.com  0  423L   77L    77  None
2  07/Sep/1996:12:23:36            foley.ripco.com  0  633N  633N  159P  159P
3  07/Sep/1996:12:25:14            foley.ripco.com  0  441L  537L   537  None
4  07/Sep/1996:15:18:38   pslip103d.egr-ri.ids.net  0   90M   90M   76L  476L

     7     8     9   ...    38    39    40    41    42    43    44    45  \
0  None  None  None  ...  None  None  None  None  None  None  None  None
1  None  None  None  ...  None  None  None  None  None  None  None  None
2   475  None  None  ...  None  None  None  None  None  None  None  None
3  None  None  None  ...  None  None  None  None  None  None  None  None
4   476  None  None  ...  None  None  None  None  None  None  None  None

     46    47
0  None  None
1  None  None
2  None  None
3  None  None
4  None  None

[5 rows x 48 columns]

In [ ]:
rs1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 48 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       755 non-null    object
 1   1       755 non-null    object
 2   2       755 non-null    object
 3   3       755 non-null    object
 4   4       755 non-null    object
 5   5       698 non-null    object
 6   6       465 non-null    object
 7   7       433 non-null    object
 8   8       319 non-null    object
 9   9       308 non-null    object
 10  10      228 non-null    object
 11  11      224 non-null    object
 12  12      182 non-null    object
 13  13      173 non-null    object
 14  14      123 non-null    object
 15  15      119 non-null    object
 16  16      98 non-null     object
 17  17      98 non-null     object
 18  18      83 non-null     object
 19  19      83 non-null     object
 20  20      61 non-null     object
 21  21      61 non-null     object
 22  22      43 non-null     object
 23  23      43 non-null     object
 24  24      32 non-null     object
 25  25      32 non-null     object
 26  26      22 non-null     object
 27  27      22 non-null     object
 28  28      13 non-null     object
 29  29      13 non-null     object
 30  30      9 non-null      object
 31  31      9 non-null      object
 32  32      7 non-null      object
 33  33      7 non-null      object
 34  34      6 non-null      object
 35  35      6 non-null      object
 36  36      6 non-null      object
 37  37      6 non-null      object
 38  38      4 non-null      object
 39  39      4 non-null      object
 40  40      4 non-null      object
 41  41      4 non-null      object
 42  42      3 non-null      object
 43  43      3 non-null      object
 44  44      3 non-null      object
 45  45      3 non-null      object
 46  46      2 non-null      object
 47  47      2 non-null      object
dtypes: object(48)
memory usage: 283.2+ KB

In [134]:
data = []
with open('session.1996-Q4', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs2 = pd.DataFrame(data)

print(rs2.head())

# Заменим пустые значения на NaN
rs2.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs2.to_csv('session_cleaned_1996_Q4.csv', index=False)

                      0                   1  2     3     4     5     6     7   \
0  01/Oct/1996:10:08:41   keeper.tribune.com  0  369N  369P    -1  None  None
1  01/Oct/1996:11:32:27         mail.smc.com  0  204L   505  None  None  None
2  01/Oct/1996:11:34:23       128.103.79.152  0  387L  245L   245  None  None
3  01/Oct/1996:11:33:53         mail.smc.com  0  369N    -1  None  None  None
4  01/Oct/1996:11:35:11         mail.smc.com  0  465L   438  None  None  None

     8     9   ...    46    47    48    49    50    51    52    53    54    55
0  None  None  ...  None  None  None  None  None  None  None  None  None  None
1  None  None  ...  None  None  None  None  None  None  None  None  None  None
2  None  None  ...  None  None  None  None  None  None  None  None  None  None
3  None  None  ...  None  None  None  None  None  None  None  None  None  None
4  None  None  ...  None  None  None  None  None  None  None  None  None  None

[5 rows x 56 columns]

In [135]:
data = []
with open('session.1997-Q1', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs3 = pd.DataFrame(data)

print(rs3.head())

# Заменим пустые значения на NaN
rs3.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs3.to_csv('session_cleaned_1997_Q1.csv', index=False)

                      0                       1  2     3     4     5     6   \
0  15/Nov/1996:13:53:46   venus28.student1.ul.ie  0  378N   17R  107M    17
1  15/Nov/1996:14:48:54          bkclab3.unl.edu  0  192R  517Q    44  None
2  15/Nov/1996:14:47:23     dent80.sdm3.siue.edu  0  387L   302  None  None
3  15/Nov/1996:14:57:11     dent80.sdm3.siue.edu  0  106L   220  None  None
4  15/Nov/1996:15:00:26     dent80.sdm3.siue.edu  0  387L  463N  246N  564N

     7     8     9   ...    38    39    40    41    42    43    44    45  \
0  None  None  None  ...  None  None  None  None  None  None  None  None
1  None  None  None  ...  None  None  None  None  None  None  None  None
2  None  None  None  ...  None  None  None  None  None  None  None  None
3  None  None  None  ...  None  None  None  None  None  None  None  None
4    -1  None  None  ...  None  None  None  None  None  None  None  None

     46    47
0  None  None
1  None  None
2  None  None
3  None  None
4  None  None

[5 rows x 48 columns]

In [136]:
data = []
with open('session.1997-Q2', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs4 = pd.DataFrame(data)

print(rs4.head())

# Заменим пустые значения на NaN
rs4.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs4.to_csv('session_cleaned_1997_Q2.csv', index=False)

                      0                            1  2     3     4     5   \
0  31/Mar/1997:09:15:26   ld02-215.lon.compuserve.com  0  635Q    -1  None
1  31/Mar/1997:11:30:11   61012d0012dt.concentric.net  0  288L    4M  288L
2  31/Mar/1997:12:07:43         www-ax5.proxy.aol.com  0  369L  111L  378L
3  31/Mar/1997:13:12:06                149.112.71.114  0   19L  558L  558L
4  31/Mar/1997:13:14:25                149.112.71.114  0   19L  423L   423

     6     7     8     9   ...    36    37    38    39    40    41    42  \
0  None  None  None  None  ...  None  None  None  None  None  None  None
1  508L  438L  508M  288L  ...  None  None  None  None  None  None  None
2  336L  303L   671  None  ...  None  None  None  None  None  None  None
3  532L  532L  569L  569L  ...  None  None  None  None  None  None  None
4  None  None  None  None  ...  None  None  None  None  None  None  None

     43    44    45
0  None  None  None
1  None  None  None
2  None  None  None
3  None  None  None
4  None  None  None

[5 rows x 46 columns]

In [137]:
data = []
with open('session.1997-Q3', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs5 = pd.DataFrame(data)

print(rs5.head())

# Заменим пустые значения на NaN
rs5.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs5.to_csv('session_cleaned_1997_Q3.csv', index=False)

                      0                         1     2     3     4     5   \
0  30/Jun/1997:10:23:54   wkn-il7-47.ix.netcom.com  137C  222N  137L  552L
1  30/Jun/1997:10:25:33   wkn-il7-47.ix.netcom.com     0  378S  166L   560
2  30/Jun/1997:10:24:00             bisin1.bls.com  184A  659M  177R  177M
3  30/Jun/1997:12:08:52             bisin1.bls.com  230A  659M   177  None
4  30/Jun/1997:12:59:43            128.206.159.138     0  378N   17L    53

     6     7     8     9   ...    53    54    55    56    57    58    59  \
0  399L  460L  393L  488L  ...  None  None  None  None  None  None  None
1  None  None  None  None  ...  None  None  None  None  None  None  None
2  293Q   616  None  None  ...  None  None  None  None  None  None  None
3  None  None  None  None  ...  None  None  None  None  None  None  None
4  None  None  None  None  ...  None  None  None  None  None  None  None

     60    61    62
0  None  None  None
1  None  None  None
2  None  None  None
3  None  None  None
4  None  None  None

[5 rows x 63 columns]

In [138]:
data = []
with open('session.1997-Q4', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs6 = pd.DataFrame(data)

print(rs6.head())

# Заменим пустые значения на NaN
rs6.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs6.to_csv('session_cleaned_1997_Q4.csv', index=False)

                      0                    1  2     3     4     5     6   \
0  06/Oct/1997:01:37:16   link-045.npsnet.com  0  369M  369S  369L  303L
1  06/Oct/1997:01:40:00   link-045.npsnet.com  0  356L  422L   437  None
2  06/Oct/1997:01:50:14   link-045.npsnet.com  0  164L  564M  627M  122M
3  06/Oct/1997:01:51:37   link-045.npsnet.com  0  369M  369N    -1  None
4  06/Oct/1997:13:03:08   clglmac-16.bgsu.edu  0  369R  369R    -1  None

     7     8     9   ...    51    52    53    54    55    56    57    58  \
0  632Q   521  None  ...  None  None  None  None  None  None  None  None
1  None  None  None  ...  None  None  None  None  None  None  None  None
2  122R  122Q   627  ...  None  None  None  None  None  None  None  None
3  None  None  None  ...  None  None  None  None  None  None  None  None
4  None  None  None  ...  None  None  None  None  None  None  None  None

     59    60
0  None  None
1  None  None
2  None  None
3  None  None
4  None  None

[5 rows x 61 columns]

In [139]:
data = []
with open('session.1998-Q1', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs7 = pd.DataFrame(data)

print(rs7.head())

# Заменим пустые значения на NaN
rs7.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs7.to_csv('session_cleaned_1998_Q1.csv', index=False)

                      0                        1     2     3     4     5   \
0  29/Dec/1997:12:07:31     ww-tr05.proxy.aol.com     0  303L  111Q  111Q
1  29/Dec/1997:12:11:15     ww-tr05.proxy.aol.com     0  369N  369N  369R
2  29/Dec/1997:12:28:36                 cccis.com     0  359N    14  None
3  29/Dec/1997:12:31:32                 cccis.com  148C  457L   230  None
4  29/Dec/1997:12:56:37   nfsf001.tsd.textron.com  217B  134L  498N  134N

     6     7     8     9   ...    41    42    43    44    45    46    47  \
0    -1  None  None  None  ...  None  None  None  None  None  None  None
1  369R    -1  None  None  ...  None  None  None  None  None  None  None
2  None  None  None  None  ...  None  None  None  None  None  None  None
3  None  None  None  None  ...  None  None  None  None  None  None  None
4   14L   507  None  None  ...  None  None  None  None  None  None  None

     48    49    50
0  None  None  None
1  None  None  None
2  None  None  None
3  None  None  None
4  None  None  None

[5 rows x 51 columns]

In [140]:
data = []
with open('session.1998-Q2', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs8 = pd.DataFrame(data)

print(rs8.head())

# Заменим пустые значения на NaN
rs8.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs8.to_csv('session_cleaned_1998_Q2.csv', index=False)

                      0                      1  2     3     4     5     6   \
0  30/Mar/1998:11:09:55   ww-ta04.proxy.aol.com  0  369Q  369Q  369R  369Q
1  30/Mar/1998:11:56:55       mail.ci.okc.ok.us  0  330L  540L  624L   540
2  30/Mar/1998:11:59:11        gmlink.gmeds.com  0  400L   317  None  None
3  30/Mar/1998:12:06:18        gmlink.gmeds.com  0  224L  201L  217L    21
4  30/Mar/1998:12:46:41   ww-tc04.proxy.aol.com  0  192L   166  None  None

     7     8     9   ...    35    36    37    38    39    40    41    42  \
0    -1  None  None  ...  None  None  None  None  None  None  None  None
1  None  None  None  ...  None  None  None  None  None  None  None  None
2  None  None  None  ...  None  None  None  None  None  None  None  None
3  None  None  None  ...  None  None  None  None  None  None  None  None
4  None  None  None  ...  None  None  None  None  None  None  None  None

     43    44
0  None  None
1  None  None
2  None  None
3  None  None
4  None  None

[5 rows x 45 columns]

In [141]:
data = []
with open('session.1998-Q3', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs9 = pd.DataFrame(data)

print(rs9.head())

# Заменим пустые значения на NaN
rs9.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs9.to_csv('session_cleaned_1998_Q3.csv', index=False)

                      0               1  2     3     4     5     6     7   \
0  29/Jun/1998:09:38:04     159.91.89.28  0    4L  438L  438L  564L  119L
1  29/Jun/1998:10:05:54     159.91.89.28  0    4L  508L  288L  288L  499L
2  29/Jun/1998:10:28:32     159.91.89.28  0   63L  205L  205L  588L  276L
3  29/Jun/1998:10:46:15     159.91.89.28  0  400L   64L   64L  494L  317L
4  29/Jun/1998:10:52:07   129.188.33.200  0  378L   110  None  None  None

     8     9   ...    52    53    54    55    56    57    58    59    60    61
0  119L   508  ...  None  None  None  None  None  None  None  None  None  None
1  499P    4L  ...  None  None  None  None  None  None  None  None  None  None
2  276L   66L  ...  None  None  None  None  None  None  None  None  None  None
3  630L  630L  ...  None  None  None  None  None  None  None  None  None  None
4  None  None  ...  None  None  None  None  None  None  None  None  None  None

[5 rows x 62 columns]

In [142]:
data = []
with open('session.1998-Q4', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs10 = pd.DataFrame(data)

print(rs10.head())

# Заменим пустые значения на NaN
rs10.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs10.to_csv('session_cleaned_1998_Q4.csv', index=False)

                      0                               1     2     3     4   \
0  28/Sep/1998:10:46:40   proxy-167.iap.bryant.webtv.net  606C  166N  496P
1  28/Sep/1998:11:27:32                  204.216.176.133  640C  105N  105L
2  28/Sep/1998:11:26:01                 lfhswww.luce.com     0  105L  246L
3  28/Sep/1998:11:51:35                    169.207.11.46     0  599L  665L
4  28/Sep/1998:11:53:03                    169.207.11.46     0  599L  580L

     5     6     7     8     9   ...    41    42    43    44    45    46  \
0   78L   497  None  None  None  ...  None  None  None  None  None  None
1  168N  105L  199N  105L  307L  ...  None  None  None  None  None  None
2   187  None  None  None  None  ...  None  None  None  None  None  None
3  335L   550  None  None  None  ...  None  None  None  None  None  None
4  553L   410  None  None  None  ...  None  None  None  None  None  None

     47    48    49    50
0  None  None  None  None
1  None  None  None  None
2  None  None  None  None
3  None  None  None  None
4  None  None  None  None

[5 rows x 51 columns]

In [143]:
data = []
with open('session.1999-Q1', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs11 = pd.DataFrame(data)

print(rs11.head(21))

# Заменим пустые значения на NaN
rs11.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs11.to_csv('session_cleaned_1999_Q1.csv', index=False)

                       0                1     2     3     4     5     6   \
0   28/Dec/1998:00:33:32   148.233.150.157     0  599L   162  None  None
1   28/Dec/1998:00:36:45   148.233.150.157     0  194M    -1  None  None
2   28/Dec/1998:09:00:14   205.188.199.177     0  333N  460L  222L  488M
3   28/Dec/1998:10:28:37      208.193.53.2     0  359L  178L   46L  262L
4   28/Dec/1998:11:12:53   208.233.127.194     0  369N  369R  369Q    -1
5   28/Dec/1998:11:14:19   208.233.127.194     0  369Q  369R  369N    -1
6   28/Dec/1998:11:19:11   204.146.172.129     0  460Q    -1  None  None
7   28/Dec/1998:12:43:40   205.188.192.152     0  672N  672L   397  None
8   28/Dec/1998:12:38:36      12.75.149.33     0   47L   610  None  None
9   28/Dec/1998:13:50:50     38.218.76.140     0  139L   89L  519L   571
10  28/Dec/1998:15:01:00     207.70.88.207     0  369L   608  None  None
11  28/Dec/1998:15:01:36     207.70.88.207     0  369P    -1  None  None
12  28/Dec/1998:15:47:15      32.97.110.72     0  387M  387P  334L  436L
13  28/Dec/1998:16:02:59     129.237.40.45     0  635R  407R  671R    -1
14  28/Dec/1998:16:28:00    162.58.231.204   41E  407N  407S   496  None
15  28/Dec/1998:17:23:15    136.142.150.85     0  435N   275  None  None
16  28/Dec/1998:18:47:03    192.25.139.243   67C  480L  511R   83M   293
17  28/Dec/1998:19:00:17    192.25.139.243  133C   44L  496L  114L   78L
18  28/Dec/1998:19:02:10    192.25.139.243     0  359L  663L  513L   387
19  28/Dec/1998:19:05:19    192.25.139.243   52C  621M  334L   380  None
20  28/Dec/1998:19:09:17     12.75.148.148     0  175N  175N    -1  None

      7     8     9   ...    43    44    45    46    47    48    49    50  \
0   None  None  None  ...  None  None  None  None  None  None  None  None
1   None  None  None  ...  None  None  None  None  None  None  None  None
2   131P  166L   17L  ...  None  None  None  None  None  None  None  None
3   663L   233  None  ...  None  None  None  None  None  None  None  None
4   None  None  None  ...  None  None  None  None  None  None  None  None
5   None  None  None  ...  None  None  None  None  None  None  None  None
6   None  None  None  ...  None  None  None  None  None  None  None  None
7   None  None  None  ...  None  None  None  None  None  None  None  None
8   None  None  None  ...  None  None  None  None  None  None  None  None
9   None  None  None  ...  None  None  None  None  None  None  None  None
10  None  None  None  ...  None  None  None  None  None  None  None  None
11  None  None  None  ...  None  None  None  None  None  None  None  None
12  565L  436L   667  ...  None  None  None  None  None  None  None  None
13  None  None  None  ...  None  None  None  None  None  None  None  None
14  None  None  None  ...  None  None  None  None  None  None  None  None
15  None  None  None  ...  None  None  None  None  None  None  None  None
16  None  None  None  ...  None  None  None  None  None  None  None  None
17  583L   75L   17L  ...  None  None  None  None  None  None  None  None
18  None  None  None  ...  None  None  None  None  None  None  None  None
19  None  None  None  ...  None  None  None  None  None  None  None  None
20  None  None  None  ...  None  None  None  None  None  None  None  None

      51    52
0   None  None
1   None  None
2   None  None
3   None  None
4   None  None
5   None  None
6   None  None
7   None  None
8   None  None
9   None  None
10  None  None
11  None  None
12  None  None
13  None  None
14  None  None
15  None  None
16  None  None
17  None  None
18  None  None
19  None  None
20  None  None

[21 rows x 53 columns]

In [144]:
data = []
with open('session.1999-Q2', 'r') as f:
    for line in f:
        columns = line.strip().split('\t')
        data.append(columns)

# Преобразуем в DataFrame
rs12 = pd.DataFrame(data)

print(rs12.head())

# Заменим пустые значения на NaN
rs12.replace('', np.nan, inplace=True)

# Сохраненим  в новый CSV-файл
rs12.to_csv('session_cleaned_1999_Q2.csv', index=False)

                      0                1  2     3     4     5     6     7   \
0  29/Mar/1999:06:32:41    152.163.207.79  0  330L  540L   99L  490L   500
1  29/Mar/1999:09:40:38   204.221.190.230  0  369L   316  None  None  None
2  29/Mar/1999:09:48:22    207.108.235.27  0  175L    90  None  None  None
3  29/Mar/1999:09:50:20    207.108.235.27  0  369N    -1  None  None  None
4  29/Mar/1999:10:20:23    167.165.177.95  0  387N   14L  289L  277L     1

     8     9   ...    20    21    22    23    24    25    26    27    28    29
0  None  None  ...  None  None  None  None  None  None  None  None  None  None
1  None  None  ...  None  None  None  None  None  None  None  None  None  None
2  None  None  ...  None  None  None  None  None  None  None  None  None  None
3  None  None  ...  None  None  None  None  None  None  None  None  None  None
4  None  None  ...  None  None  None  None  None  None  None  None  None  None

[5 rows x 30 columns]

In [145]:

rs = [rs1, rs2, rs3, rs4, rs5, rs6, rs7,rs8, rs9, rs10, rs11, rs12]

# Объединяем все таблицы по строкам
rs_data = pd.concat(rs, axis=0, join='outer', ignore_index=True)

# Выводим результат для проверки
print(rs_data.head(10))
rs_data.info()

                      0                         1     2     3     4     5   \
0  07/Sep/1996:12:17:05      www-c09.proxy.gnn.com     0  560L  110L   110
1  07/Sep/1996:12:21:57            foley.ripco.com     0  423L   77L    77
2  07/Sep/1996:12:23:36            foley.ripco.com     0  633N  633N  159P
3  07/Sep/1996:12:25:14            foley.ripco.com     0  441L  537L   537
4  07/Sep/1996:15:18:38   pslip103d.egr-ri.ids.net     0   90M   90M   76L
5  07/Sep/1996:16:32:18          schi1-019.wwa.com     0  635L  407L  407L
6  07/Sep/1996:17:26:27          gateway.kraft.com     0  159L  338L  338L
7  07/Sep/1996:18:11:42          arolfe.pr.mcs.net     0  635L  507L  507L
8  07/Sep/1996:19:06:16     ntcs-ip24.uchicago.edu     0    4L  507L  507L
9  07/Sep/1996:19:11:43     ntcs-ip38.uchicago.edu  260C  334L  102L  102L

     6     7     8     9   ...   53   54   55   56   57   58   59   60   61  \
0  None  None  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  None  None  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  159P   475  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  None  None  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  476L   476  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  415L  415L  496L  496N  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6   55L   55L  475L  475L  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  415L  415L  592L  592L  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    4L    4L  119L  119L  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  457L   457  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

    62
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN
7  NaN
8  NaN
9  NaN

[10 rows x 63 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50672 entries, 0 to 50671
Data columns (total 63 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       50672 non-null  object
 1   1       50672 non-null  object
 2   2       50672 non-null  object
 3   3       50672 non-null  object
 4   4       50672 non-null  object
 5   5       33520 non-null  object
 6   6       24101 non-null  object
 7   7       17920 non-null  object
 8   8       13702 non-null  object
 9   9       10667 non-null  object
 10  10      8443 non-null   object
 11  11      6684 non-null   object
 12  12      5312 non-null   object
 13  13      3844 non-null   object
 14  14      2819 non-null   object
 15  15      2086 non-null   object
 16  16      1630 non-null   object
 17  17      1305 non-null   object
 18  18      1061 non-null   object
 19  19      866 non-null    object
 20  20      715 non-null    object
 21  21      608 non-null    object
 22  22      501 non-null    object
 23  23      422 non-null    object
 24  24      362 non-null    object
 25  25      303 non-null    object
 26  26      266 non-null    object
 27  27      221 non-null    object
 28  28      168 non-null    object
 29  29      143 non-null    object
 30  30      116 non-null    object
 31  31      104 non-null    object
 32  32      83 non-null     object
 33  33      77 non-null     object
 34  34      70 non-null     object
 35  35      58 non-null     object
 36  36      54 non-null     object
 37  37      49 non-null     object
 38  38      42 non-null     object
 39  39      40 non-null     object
 40  40      36 non-null     object
 41  41      32 non-null     object
 42  42      26 non-null     object
 43  43      22 non-null     object
 44  44      18 non-null     object
 45  45      16 non-null     object
 46  46      14 non-null     object
 47  47      13 non-null     object
 48  48      9 non-null      object
 49  49      9 non-null      object
 50  50      9 non-null      object
 51  51      7 non-null      object
 52  52      7 non-null      object
 53  53      6 non-null      object
 54  54      5 non-null      object
 55  55      5 non-null      object
 56  56      4 non-null      object
 57  57      4 non-null      object
 58  58      4 non-null      object
 59  59      4 non-null      object
 60  60      4 non-null      object
 61  61      2 non-null      object
 62  62      1 non-null      object
dtypes: object(63)
memory usage: 24.4+ MB

In [146]:
import pandas as pd
import numpy as np

# Функция для перемещения последнего ненулевого значения в 63-й столбец
def move_last_non_nan_to_end(row):
    # Преобразуем строку в список
    row_values = row.tolist()

    # Находим индекс последнего ненулевого значения
    last_non_nan_index = next((i for i in range(len(row_values) - 1, -1, -1) if not pd.isna(row_values[i])), None)

    if last_non_nan_index is not None and last_non_nan_index != 62:  # 62-й индекс = 63-й столбец
        # Сохраняем последнее ненулевое значение
        last_non_nan_value = row_values[last_non_nan_index]

        # Убираем значение из текущего места
        row_values[last_non_nan_index] = np.nan

        # Устанавливаем его в 63-й столбец
        row_values[62] = last_non_nan_value  # Перемещаем значение в последний столбец

    # Возвращаем обработанную строку в виде списка
    return row_values

# Применяем функцию ко всем строкам и конвертируем обратно в DataFrame
aligned_data = pd.DataFrame(rs_data.apply(move_last_non_nan_to_end, axis=1).tolist(), columns=rs_data.columns)

# Проверяем корректность данных
print("Проверяем данные после обработки:")
print(aligned_data.head(10))
print(aligned_data.info())

# Сохраняем итоговый DataFrame в Excel
aligned_data.to_excel('aligned_data_fixed.xlsx', index=False, engine='openpyxl')
print("Данные успешно сохранены в 'aligned_data_fixed.xlsx'")

Проверяем данные после обработки:
                      0                         1     2     3     4     5   \
0  07/Sep/1996:12:17:05      www-c09.proxy.gnn.com     0  560L  110L   NaN
1  07/Sep/1996:12:21:57            foley.ripco.com     0  423L   77L   NaN
2  07/Sep/1996:12:23:36            foley.ripco.com     0  633N  633N  159P
3  07/Sep/1996:12:25:14            foley.ripco.com     0  441L  537L   NaN
4  07/Sep/1996:15:18:38   pslip103d.egr-ri.ids.net     0   90M   90M   76L
5  07/Sep/1996:16:32:18          schi1-019.wwa.com     0  635L  407L  407L
6  07/Sep/1996:17:26:27          gateway.kraft.com     0  159L  338L  338L
7  07/Sep/1996:18:11:42          arolfe.pr.mcs.net     0  635L  507L  507L
8  07/Sep/1996:19:06:16     ntcs-ip24.uchicago.edu     0    4L  507L  507L
9  07/Sep/1996:19:11:43     ntcs-ip38.uchicago.edu  260C  334L  102L  102L

     6     7     8     9   ...   53   54   55   56   57   58   59   60   61  \
0  None  None  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  None  None  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  159P   NaN  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  None  None  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  476L   NaN  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  415L  415L  496L  496N  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
6   55L   55L  475L  475L  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7  415L  415L  592L  592L  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    4L    4L  119L  119L  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  457L   NaN  None  None  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

    62
0  110
1   77
2  475
3  537
4  476
5  415
6  101
7  407
8  119
9  457

[10 rows x 63 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50672 entries, 0 to 50671
Data columns (total 63 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       50672 non-null  object
 1   1       50672 non-null  object
 2   2       50672 non-null  object
 3   3       50672 non-null  object
 4   4       33520 non-null  object
 5   5       24101 non-null  object
 6   6       17920 non-null  object
 7   7       13702 non-null  object
 8   8       10667 non-null  object
 9   9       8443 non-null   object
 10  10      6684 non-null   object
 11  11      5312 non-null   object
 12  12      3844 non-null   object
 13  13      2819 non-null   object
 14  14      2086 non-null   object
 15  15      1630 non-null   object
 16  16      1305 non-null   object
 17  17      1061 non-null   object
 18  18      866 non-null    object
 19  19      715 non-null    object
 20  20      608 non-null    object
 21  21      501 non-null    object
 22  22      422 non-null    object
 23  23      362 non-null    object
 24  24      303 non-null    object
 25  25      266 non-null    object
 26  26      221 non-null    object
 27  27      168 non-null    object
 28  28      143 non-null    object
 29  29      116 non-null    object
 30  30      104 non-null    object
 31  31      83 non-null     object
 32  32      77 non-null     object
 33  33      70 non-null     object
 34  34      58 non-null     object
 35  35      54 non-null     object
 36  36      49 non-null     object
 37  37      42 non-null     object
 38  38      40 non-null     object
 39  39      36 non-null     object
 40  40      32 non-null     object
 41  41      26 non-null     object
 42  42      22 non-null     object
 43  43      18 non-null     object
 44  44      16 non-null     object
 45  45      14 non-null     object
 46  46      13 non-null     object
 47  47      9 non-null      object
 48  48      9 non-null      object
 49  49      9 non-null      object
 50  50      7 non-null      object
 51  51      7 non-null      object
 52  52      6 non-null      object
 53  53      5 non-null      object
 54  54      5 non-null      object
 55  55      4 non-null      object
 56  56      4 non-null      object
 57  57      4 non-null      object
 58  58      4 non-null      object
 59  59      4 non-null      object
 60  60      2 non-null      object
 61  61      1 non-null      object
 62  62      50672 non-null  object
dtypes: object(63)
memory usage: 24.4+ MB
None
Данные успешно сохранены в 'aligned_data_fixed.xlsx'

In [ ]:
from google.colab import files
files.download('/content/aligned_data_fixed.xlsx')

In [147]:
#  создаем список  имен для столбцов

column_names =[ 'Date', 'IP', 'Entry point', 'Rated restaurant1', 'Rated restaurant2', 'Rated restaurant3', 'Rated restaurant4', 'Rated restaurant5',
'Rated restaurant6', 'Rated restaurant7', 'Rated restaurant8', 'Rated restaurant9', 'Rated restaurant10', 'Rated restaurant11',
'Rated restaurant12', 'Rated restaurant13', 'Rated restaurant14', 'Rated restaurant15', 'Rated restaurant16', 'Rated restaurant17',
'Rated restaurant18', 'Rated restaurant19',  'Rated restaurant20', 'Rated restaurant21', 'Rated restaurant22', 'Rated restaurant23',
'Rated restaurant24', 'Rated restaurant25', 'Rated restaurant26', 'Rated restaurant27', 'Rated restaurant28', 'Rated restaurant29',
'Rated restaurant30', 'Rated restaurant31', 'Rated restaurant32', 'Rated restaurant33', 'Rated restaurant34', 'Rated restaurant35',
'Rated restaurant36', 'Rated restaurant37', 'Rated restaurant38', 'Rated restaurant39', 'Rated restaurant40', 'Rated restaurant41',
'Rated restaurant42', 'Rated restaurant43', 'Rated restaurant44', 'Rated restaurant45', 'Rated restaurant46', 'Rated restaurant47',
'Rated restaurant48', 'Rated restaurant49', 'Rated restaurant50', 'Rated restaurant51', 'Rated restaurant52', 'Rated restaurant53',
'Rated restaurant54', 'Rated restaurant55', 'Rated restaurant56', 'Rated restaurant57', 'Rated restaurant58', 'Rated restaurant59','End point' ]

# присваиваем имена столбцам
aligned_data.columns = column_names

print(aligned_data.head())

                    Date                        IP Entry point  \
0  07/Sep/1996:12:17:05      www-c09.proxy.gnn.com           0
1  07/Sep/1996:12:21:57            foley.ripco.com           0
2  07/Sep/1996:12:23:36            foley.ripco.com           0
3  07/Sep/1996:12:25:14            foley.ripco.com           0
4  07/Sep/1996:15:18:38   pslip103d.egr-ri.ids.net           0

  Rated restaurant1 Rated restaurant2 Rated restaurant3 Rated restaurant4  \
0              560L              110L               NaN              None
1              423L               77L               NaN              None
2              633N              633N              159P              159P
3              441L              537L               NaN              None
4               90M               90M               76L              476L

  Rated restaurant5 Rated restaurant6 Rated restaurant7  ...  \
0              None              None              None  ...
1              None              None              None  ...
2               NaN              None              None  ...
3              None              None              None  ...
4               NaN              None              None  ...

  Rated restaurant51 Rated restaurant52 Rated restaurant53 Rated restaurant54  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

  Rated restaurant55 Rated restaurant56 Rated restaurant57 Rated restaurant58  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

  Rated restaurant59 End point
0                NaN       110
1                NaN        77
2                NaN       475
3                NaN       537
4                NaN       476

[5 rows x 63 columns]

In [148]:
# Удаляем столбец Date
aligned_data = aligned_data.drop(columns=['Date'])

# Печатаем первые строки
print(aligned_data.head())

                         IP Entry point Rated restaurant1 Rated restaurant2  \
0     www-c09.proxy.gnn.com           0              560L              110L
1           foley.ripco.com           0              423L               77L
2           foley.ripco.com           0              633N              633N
3           foley.ripco.com           0              441L              537L
4  pslip103d.egr-ri.ids.net           0               90M               90M

  Rated restaurant3 Rated restaurant4 Rated restaurant5 Rated restaurant6  \
0               NaN              None              None              None
1               NaN              None              None              None
2              159P              159P               NaN              None
3               NaN              None              None              None
4               76L              476L               NaN              None

  Rated restaurant7 Rated restaurant8  ... Rated restaurant51  \
0              None              None  ...                NaN
1              None              None  ...                NaN
2              None              None  ...                NaN
3              None              None  ...                NaN
4              None              None  ...                NaN

  Rated restaurant52 Rated restaurant53 Rated restaurant54 Rated restaurant55  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

  Rated restaurant56 Rated restaurant57 Rated restaurant58 Rated restaurant59  \
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

  End point
0       110
1        77
2       475
3       537
4       476

[5 rows x 62 columns]

In [149]:

# Копируем данные в новый DataFrame для обработки
processed_data = aligned_data.copy()

# Функция для обработки Entry point
def parse_entry_point(value):
    if value == '0' or pd.isna(value):  # Если значение "0" или NaN
        return np.nan, np.nan
    restaurant = ''.join(filter(str.isdigit, str(value)))  # Извлекаем цифры
    city = ''.join(filter(str.isalpha, str(value)))  # Извлекаем буквы
    restaurant = int(restaurant) if restaurant else np.nan
    city = city if city else np.nan
    return restaurant, city

# Функция для обработки End point
def parse_end_point(value):
    if value == '-1' or pd.isna(value):  # Если значение "-1" или NaN
        return np.nan, np.nan
    restaurant = ''.join(filter(str.isdigit, str(value)))  # Извлекаем цифры
    restaurant = int(restaurant) if restaurant else np.nan
    action = 5
    return restaurant, action

# Обрабатываем столбцы Entry point и End point
processed_data[['Restaurant_entry', 'City_entry']] = processed_data['Entry point'].apply(
    lambda x: pd.Series(parse_entry_point(x))
)
processed_data[['Restaurant_end', 'Action_end']] = processed_data['End point'].apply(
    lambda x: pd.Series(parse_end_point(x))
)

# Удаляем исходные столбцы Entry point и End point
processed_data.drop(columns=['Entry point', 'End point'], inplace=True)

# Перемещаем Restaurant_entry и City_entry после столбца IP
columns_order = ['IP', 'Restaurant_entry', 'City_entry'] + [col for col in processed_data.columns if col not in ['IP', 'Restaurant_entry', 'City_entry']]
processed_data = processed_data[columns_order]

# Сохраняем результат в файл
processed_data.to_csv('processed_data.csv', index=False)
print("Таблица успешно сохранена в 'processed_data.csv'")

Таблица успешно сохранена в 'processed_data.csv'

In [150]:
processed_data.head()

,IP,Restaurant_entry,City_entry,Rated restaurant1,Rated restaurant2,Rated restaurant3,Rated restaurant4,Rated restaurant5,Rated restaurant6,Rated restaurant7,...,Rated restaurant52,Rated restaurant53,Rated restaurant54,Rated restaurant55,Rated restaurant56,Rated restaurant57,Rated restaurant58,Rated restaurant59,Restaurant_end,Action_end
0,www-c09.proxy.gnn.com,NaN,NaN,560L,110L,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,5.0
1,foley.ripco.com,NaN,NaN,423L,77L,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,5.0
2,foley.ripco.com,NaN,NaN,633N,633N,159P,159P,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.0,5.0
3,foley.ripco.com,NaN,NaN,441L,537L,NaN,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,5.0
4,pslip103d.egr-ri.ids.net,NaN,NaN,90M,90M,76L,476L,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476.0,5.0

In [151]:

# Максимальное количество ресторанов в данных
max_restaurants = sum(['Rated restaurant' in col for col in processed_data.columns])

# Создаем новый DataFrame для обработки
processed_data_final = pd.DataFrame()

# Итерация по строкам данных
for index, row in processed_data.iterrows():
    # Начало строки с уже существующими столбцами
    row_data = {
        'IP': row['IP'],
        'Restaurant_entry': row['Restaurant_entry'],
        'City_entry': row['City_entry'],
        'Restaurant_end': row['Restaurant_end'],
        'Action_end': row['Action_end']
    }
    action_index = 1  # Индекс для нумерации ресторанов

    # Обрабатываем рестораны и действия
    for i in range(1, max_restaurants + 1):
        restaurant_col = f'Rated restaurant{i}'

        if restaurant_col in row and not pd.isna(row[restaurant_col]):
            # Разделяем на ресторан (число) и действие (буква)
            restaurant_value = row[restaurant_col]
            if len(restaurant_value) > 1:
                restaurant = ''.join([c for c in restaurant_value if c.isdigit()])
                action = ''.join([c for c in restaurant_value if c.isalpha()])
            else:
                restaurant = restaurant_value  # Если только число
                action = 'No action'  # Действия нет

            row_data[f'Restaurant{action_index}'] = restaurant
            row_data[f'Action{action_index}'] = action
            action_index += 1

    # Добавляем обработанную строку
    processed_data_final = pd.concat([processed_data_final, pd.DataFrame([row_data])], ignore_index=True)

# Сохраняем результат
processed_data_final.to_csv('processed_data_final.csv', index=False)
print("Таблица успешно сохранена в 'processed_data_final.csv'")

Таблица успешно сохранена в 'processed_data_final.csv'

In [ ]:
processed_data_final.head(50)

In [152]:
# Перемещаем столбцы 'Restaurant_end' и 'Action_end' в конец
columns = list(processed_data_final.columns)
columns.remove('Restaurant_end')
columns.remove('Action_end')
columns += ['Restaurant_end', 'Action_end']
processed_data_final = processed_data_final[columns]

# Сохраняем результат в файл
processed_data_final.to_excel('processed_data_final.xlsx', index=False)
print("Таблица успешно сохранена в 'processed_data_final.xlsx' с обновленным порядком столбцов.")

Таблица успешно сохранена в 'processed_data_final.xlsx' с обновленным порядком столбцов.

In [ ]:
# Сохраняем результат в файл
processed_data_final.to_excel('processed_data_final.xlsx', index=False)
print("Таблица успешно сохранена в 'processed_data_final.xlsx' с обновленным порядком столбцов.")

In [154]:
from google.colab import files
files.download('/content/processed_data_final.xlsx')

In [155]:
processed_data_final.head()

,IP,Restaurant_entry,City_entry,Restaurant1,Action1,Restaurant2,Action2,Restaurant3,Action3,Restaurant4,...,Restaurant56,Action56,Restaurant57,Action57,Restaurant58,Action58,Restaurant59,Action59,Restaurant_end,Action_end
0,www-c09.proxy.gnn.com,NaN,NaN,560,L,110,L,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,5.0
1,foley.ripco.com,NaN,NaN,423,L,77,L,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,5.0
2,foley.ripco.com,NaN,NaN,633,N,633,N,159,P,159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.0,5.0
3,foley.ripco.com,NaN,NaN,441,L,537,L,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,5.0
4,pslip103d.egr-ri.ids.net,NaN,NaN,90,M,90,M,76,L,476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476.0,5.0

In [156]:
import pandas as pd

# Словарь для преобразования букв в рейтинги
rating_mapping = {
    'L': 1,  # Переключение (нейтральное)
    'M': 2,  # Поиск ресторана дешевле
    'N': 3,  # Поиск ресторана получше
    'O': 2,  # Поиск ближе
    'P': 4,  # Желание более традиционной кухни
    'Q': 4,  # Желание более креативной кухни
    'R': 3,  # Желание более оживлённой атмосферы
    'S': 3,  # Желание более тихой атмосферы
    'T': 1   # Желание смены кухни
}

# Создаем копию исходных данных
processed_data_original = processed_data_final.copy()

# Преобразование Action-столбцов, кроме Action_end
def map_action_to_rating(action):
    if pd.isna(action):  # Если NaN, оставляем его
        return action
    return rating_mapping.get(action, action)  # Преобразуем, если буква в словаре

# Обработка только столбцов 'Action' (кроме 'Action_end')
for column in processed_data_final.columns:
    if column.startswith('Action') and column != 'Action_end':
        processed_data_final[column] = processed_data_final[column].apply(map_action_to_rating)

# Перемещаем столбцы 'Restaurant_end' и 'Action_end' в конец
columns = list(processed_data_final.columns)
columns.remove('Restaurant_end')
columns.remove('Action_end')
columns += ['Restaurant_end', 'Action_end']
processed_data_final = processed_data_final[columns]


processed_data_final.to_excel('processed_data_final.xlsx', index=False)

print("- Обработанная версия: 'processed_data_final.xlsx'")

- Обработанная версия: 'processed_data_final.xlsx'

In [157]:
processed_data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50672 entries, 0 to 50671
Columns: 123 entries, IP to Action_end
dtypes: float64(61), int64(1), object(61)
memory usage: 47.6+ MB

In [158]:
processed_data_final.head()

,IP,Restaurant_entry,City_entry,Restaurant1,Action1,Restaurant2,Action2,Restaurant3,Action3,Restaurant4,...,Restaurant56,Action56,Restaurant57,Action57,Restaurant58,Action58,Restaurant59,Action59,Restaurant_end,Action_end
0,www-c09.proxy.gnn.com,NaN,NaN,560,1,110,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,5.0
1,foley.ripco.com,NaN,NaN,423,1,77,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,5.0
2,foley.ripco.com,NaN,NaN,633,3,633,3.0,159,4.0,159,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.0,5.0
3,foley.ripco.com,NaN,NaN,441,1,537,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,5.0
4,pslip103d.egr-ri.ids.net,NaN,NaN,90,2,90,2.0,76,1.0,476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,476.0,5.0

In [159]:
from google.colab import files
files.download('/content/processed_data_final.xlsx')